@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .groupSelector::-webkit-scrollbar {
    width: 4px;
    background-color: #e7e7e7;
    border-radius: 2px;
  }

  .groupSelector::-webkit-scrollbar-thumb {
    background-color: #000000;
    width: 6px;
    border-radius: 2px;
  }

  .groupSelector-svg-btn-img {
    @apply inline-block fill-current leading-4 stroke-current stroke-0
  }

  .groupSelector-svg-btn {
    @apply flex text-gray-300 p-1.5 transition-colors box-border
  }
  .groupSelector-active {
    @apply border-black text-black shadow-md transition duration-300
  }
}

@layer utilities {
  .rotateArrow {
    transform: rotate(180deg);
  }
}